<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Options</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/addQuestion.css')}}">
</head>
<body>
  <div class="container">
    <button id="edit-button">Click to Edit</button>
    <div id="edit-section" class="hidden">
      <h2>Edit Options</h2>
      <div id="edit-forms-container">
        <div class="edit-section-container">
          <form class="edit-form">
            <div class="form-group">
              <label for="question">Question:</label>
              <input type="text" name="question" placeholder="Enter the question" required>
            </div>

            <div class="form-group">
              <label for="answers">Answer:</label>
              <textarea name="answers" rows="4" placeholder="Enter the answer(s)" required></textarea>
            </div>

            <div class="form-group">
              <label for="image-upload">Upload Image:</label>
              <input type="file" name="image-upload" accept="image/*">
            </div>
          </form>
        </div>
      </div>
      <button type="button" id="add-edit-form-button">Add Another Question</button>
      <button type="button" id="submit-all-button">Submit All</button>
    </div>
  </div>
  <script src="{{ url_for('static',filename='js/edit.js')}}"></script>
</body>
</html>
